%h1 User Profile

= form_for current_user do |f|

%ul
    %li= f.label :First_Name
    = current_user.firstname

    %li= f.label :Last_Name
    = current_user.lastname

    %li= f.label :email
    = current_user.email

    %li= f.label :account_created
    = current_user.created_at

    %li= f.label :reviews
    = current_user.reviews.recent.each do | review |
    %ul
      = review.content
