%p.error= flash.now[:error]

%h2.glyphicon.glyphicon-folder-open &nbsp Listing categories
%br/
%br/

- if flash[:error]
  #error = flash[:error]


%table.table-bordered
  %tr
    %th Name
    %th
    %th
    %th
    %th

  - categories.each do |category|
    %tr
      %td= category.name
      %td &nbsp
      %td= link_to 'Show', category, class: 'btn btn-primary btn-sm'
      -if user_signed_in?
        %td= link_to 'Edit', edit_category_path(category), class: 'btn btn-warning btn-sm'
        %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'

%br

  - if user_signed_in?
    = link_to 'New Category', new_category_path, class: 'btn btn-success'
