%p#notice= notice

- if flash[:error]
  #error= flash[:error]

%p
  %b Title:
  = product.title
%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%p
  %b Category:
  = product.category.name
- if user_signed_in?
  %h3 Reviews
  = render 'reviews/form'

%br/
%h3 Users reviews:

= render reviews


%br/
- if user_owner?
  = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-primary'
= link_to 'Back', category_path(category.id), class: 'btn btn-primary'
