!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body

    .container
      %nav.navbar.navbar-custom.jumbotron
        .navbar-header
          .navbar-text.navbar-left #{AppConfig.workshops_name}
        .navbar-text.navbar-left #{link_to "All Categories", categories_path, class: 'btn btn-default'}
        %p.navbar-brand.navbar-right
          - if user_signed_in?
            %strong Welcome! #{ current_user.firstname.titleize }
            = link_to "Profile", users_profile_path, class: 'btn btn-primary'
            = link_to "Edit", edit_user_registration_path, class: 'btn btn-primary'
            = link_to "Sign out", destroy_user_session_path, class: 'btn btn-primary'
          - else
            = link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary'
            = link_to "Sign In", new_user_session_path, class: 'btn btn-primary'

    .container.jumbotron
      .row
        .col-md-12
          = yield
